html,body{
	font: 14px/1.5 "Open Sans", Arial, sans-serif;
}
  /*******************************************************/
 /*******_____________Mobile_____________________********/
/*******************************************************/
@media (min-width:200px) and (max-width:800px){

	.wrapper{
	width: 100%;
}
.main{
	width: 100%;
	display: table;
}
.header{
	width: 100%;
	margin-bottom: 1%;
	height: auto;
}
#img{

    width: 40%;
    display: inline-block;
}
#img img{
	width: 100%;
}
	
#date{
    display: inline-block;
    float: right;
    margin: 0% 0% 0% 0%; 
	font-size: 0.5em;
	width: 22%;
	}

#menu_wrapper{
   background-color: #ebebeb;
}

#search{
    width: 70%; 
    border: 1px solid rgb(175, 175, 175); 
    border-radius: 6px; 
   	display: inline-block;
    background-color: white;
	margin: 0.5% 0% 0.5% 15%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.31);
	}

input[name="ic"] {
    background: url(images/search.PNG) no-repeat 50% 50%;
    width: 11%;
    height: 25px;
    border: none;
	margin-left: 0%;
	vertical-align: middle;
}
input[name="textfield"] {
    border: none;
    outline: none;
    width: 86%;
    height: 30px;
    padding: 1% 1%;
	margin-left: 1%;
	border-radius: 6px;
}


.menu {
	display: inline-block;
	width: 100%;
    font-size: 1em;
}

.menu a{
	text-decoration: none;
	color: #000000;
	vertical-align: middle;
}

.menu a:hover{ color: #2D5DD9; }
/*.menulinks a:visited { color: #2D5DD9; }*/

.menulinks{
	width: 90%;
	display: inline-block;
	
}
.menulink a{
	display: inline-block;
	width: 100%;
	margin: 0.5% 0.5%;
	padding: 1% 1%;
	
}
.menulink{ margin: 1% 1%; display: inline-block; }

.login{
	float: right;
	width: 35.8%;
	margin: 2% -22% 0% 0%;
}
.logimg{
	display: inline-block;
	width: 16%;
	margin: 5% 0% 0% 0%;
}
.logimg img{
	width: 100%;
}
.uname{
	display: inline-block;
	width: 70%;
	margin: 0% 0% 0% 0%;
	font-size: 0.5em;
}
.uname a{
	text-decoration: none;
	color: #b9b9b9;
}
.uname p{
	margin-bottom: -1%;
}
.content{
	width: 100%;
	display: inline-block;
}
.first{
    width: 60%;
    display: inline-block;
    float: left;
	font-size: 0.7em;
}
.first img{
	width: 100%;
}
.second{
    width: 60%;
    display: inline-block;
    float: left;
}
.second img{
	width: 100%;
}
.sidebr, .sidebr1{
    display: inline-block;
    width: 35%;
	margin-left: 5%;
	
}
.side{
    list-style-type: none;
    width: 100%;
    padding-left: 0%;
	margin-top: 0%;
	font-size: 0.8em;
}
.sidebr hr, .sidebr1 hr{background-color: #881F3D; height: 1px; color: #881F3D}
.small{
    display: block;
    width: 100%;
	margin: 0% 1% 0% 0%;
    vertical-align: top;
}
.small1{
	display: inline-block;
    width: 100%;
    vertical-align: top;
}
.small img, .small1 img{
	width: 100%;
}

.side1{
   	display: inline-block;
	list-style-type: none;
    width: 100%;
    padding-left: 0%;
	margin-left: 1%;
	font-size: 0.8em;
	
}

.side2{
   	display: inline-block;
	list-style-type: none;
    width: 100%;
    padding-left: 0%;
	margin-left: 1%;
	font-size: 0.8em;
}


.listp time{
    margin-right: 5%;
}
.ahead, .ahead1{
    font-weight: bold;
    font-size: 1.5em;
}
.ahead1{
	color: #2D5DD9;
}
.shead{
    font-weight: bold;
    font-size: 1em;
}
.bighr hr{
    background-color: #2D5DD9;
    color: #2D5DD9;
    height: 5px;
    width: 95%;
    float: left;
    
}
.bighr p{ font-size: 1em; margin-left: 2%; width: 90%; color: #2D5DD9;
    float: left;
    margin-top: 1%;
}

.first1{
    width: 60%;
    display: inline-block;
	float: left;
}
.first1 img{width: 100%;}
.first2{
	width: 95%;
    display: inline-block;
    float: float;
}
.first2 img{
	width: 100%;
}
.second1, .second2{
    width: 60%;
	float: left;
    display: inline-block;
}
.second2{
	width: 100%;
	float: left;
	font-size: 1em;
}
.small1{
    display: inline-block;
    width: 100%;
    margin-top: 2%;
    font-size: 1em;
    vertical-align: top;
	margin-right: 2%;
}
.small2{
	display: inline-block;
	width: 42%;
	vertical-align: top;
}
.small2 img{
	width: 100%;
}
.small3{
	display: inline-block;
	width: 42%;
	margin-left: 10.5%;
	vertical-align: top;
}
.small3 img{
	width: 100%;
}
.lobodat{
	background-color: #e8e8e8;
	width: 100%;
	line-height: 2em;
	margin-top: -2%;
}
.lobodat time{
	margin-left: 5%;
	font-size: 85%;
}
.border{
	border-left: 7px solid #2D5DD9 ;
	height: 25px;
	float: left;
	margin-right: 3%;
	margin-top: 10%;
}
.sheads{
	padding-left: 10px;
	font-weight: bold;
    font-size: 1em;
}

.marge{
	margin-top: 6%;
	color: #808080;
	font-size: 1em;
}

.sidebar{
	width: 100%;
	display: inline-block;
	margin: 0% 1% 0% 1%;
}
.footer{
	background-color: none;
	width: 100%;
	margin-top: 1%;
}
.footer hr{
	background-color: #2D5DD9;
    color: #2D5DD9;
    height: 3px;
    width: 99.9%;
}
.socialnet{
	width: 100%;
	background-color: #ebebeb; 
	padding: 1% 0%;
}
.vknet{
	display: block;
	vertical-align: middle;
	width: 80%;
	margin: 1% 10%;	
}


.hhead{
	font-weight: bold;
    font-size: 1.2em;
}
.simg{
	float: left;
	margin-right: 1%;
	vertical-align: middle;
}

.brdr{
	border: 2px solid brown ;
	margin-bottom: 1%;
	padding: 0% 9%;
  	position: relative;
	margin-bottom: 5%;
	background-color: white;
}
.brdr::after, .brdr::before{
	content: '';
	position: absolute;
	border:  2px solid brown ;
	background-color: white;
	left: 50px; bottom: -3.9%;
	width: 20px; height: 20px;
	z-index: -1;
	transform: rotate(45deg);
}
.brdr::before{
	z-index: 0;
	border: none;
	left: 52px; bottom: -3.2%;
	width: 20px; height: 20px;
}
.sdbr{
	border: 2px solid #cbcbcb;
	padding: 5% 5%;
	font-size: 1.2em;
	font-weight: bold;
}
.sdbr img{
	width: 100%;
}
.hsdbr{
	font-size: 1em; width: 70%; color: #2D5DD9;
	font-weight: bold;
	padding: 2%;
}
.wraps{
	width: 100%;
	background-color: #E6E6E6;
	padding: 0% 0%;
}
.barvsdbr img{
	width: 100%;
}
.sdp{margin-top: 0%;}
.boldftr{
	width: 100%;
	
	text-align: center;
	background-color: #EEF3F7;
}
.boldftr a{
	text-decoration: none;
	color: blue;
}
.text{
	width: 100%;
	
}
.flnk{
	display: inline-block;
	margin-top: 1%;
}
.statistics{
	margin-left: 25%;
	width: 45%;
}
.flinks{
	line-height: 30px;
	border-bottom: 1.5px solid darkgrey;
	border-top: 1.5px solid darkgrey;
}
.flinks a{
	color: darkgrey;
	padding: 0% 0.8%;
}

}
  /*******************************************************/
 /*******************DESKTOP*****************************/
/*******************************************************/
@media screen and (min-width: 1600px){
.wrapper{
	width: 100%;
}
.main{
	width: 100%;
	display: table;
}
.header{
	width: 100%;
	margin-bottom: 1%;
	height: auto;
}
#img{
    margin-left: 15%;
    width: 30%;
    display: inline-block;
}
#img img{
	width: 100%;
}


#date{
    display: inline-block;
    float: right;
    margin: 0.25% 17.6% 0% 0%; 
}

#search{
    width: 20%; 
    border: 1px solid rgb(175, 175, 175); 
    border-radius: 6px; 
   	display: inline-block;
    background-color: white;
	margin: 0.5% 0% 0.5% 0%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.31);
	
	}

input[name="ic"] {
    background: url(images/search.PNG) no-repeat 50% 50%;
    width: 11%;
    height: 25px;
    border: none;
	margin-left: 0%;
	vertical-align: middle;
}
input[name="textfield"] {
    border: none;
    outline: none;
    width: 86%;
    height: 30px;
    padding: 1% 1%;
	margin-left: 1%;
	border-radius: 6px;
}
#menu_wrapper{
    background-color: rgb(230, 230, 230);
}


.login{
	float: right;
	width: 29%;
	display: inline-block;
	margin: 1.5% -8.5% 0% 0%;
	}

.menu {
	display: inline-block;
	width: 70%;
    font-size: 1.1em;
    margin-left: 15.1%;
}

.menu a{
    text-decoration: none;
	color: black;
	margin: 1% 1% 1% 0%;
	vertical-align: top;
}
.menulink{
    display: inline-block;
	padding: 0% 5% 0% 0%;
	}

.menulink{
    display: inline-block;
	padding: 0% 2% 0% 0%;
	}

.menu a:link{color: #000000;}
.menu a:hover{
	color: #2D5DD9;
}
.menu a:visited{
	/*color: #2D5DD9;*/
}
.menulinks{
	width: 73%;
	display: inline-block;
	margin: 1% 1% 0% 0%;
}

.login{
	float: right;
	width: 16%;
	display: inline-block;
	margin: 1.5% -8.5% 0% 0%;
}
.logimg{
	float: left;
	width: 26%;
}
.logimg img{
	width: 100%;
}
.uname{
	width: 70%;
	margin: 0% 0% 0% 32%;
}
.uname a{
	text-decoration: none;
	color: #b9b9b9;
}
.content{
	width: 50%;
	/*background-color: none;*/
	/*border: 1.5px solid darkgrey;*/
	display: inline-block;
	margin: 0% 0% 0% 15%;
	float: left;
}
.first{
    width: 60%;
    display: inline-block;
    float: left;
}
.first img{
	width: 100%;
}
.second{
    width: 65%;
    display: inline-block;
    float: left
}
.second img{
	width: 100%;
}
.sidebr, .sidebr1{
    display: inline-block;
    width: 30%;
}
.side{
    list-style-type: none;
    width: 100%;
    padding-left: 0%;
	margin-top: -1%;
}
.sidebr hr, .sidebr1 hr{background-color: #881F3D; height: 1px; color: #881F3D}
.small{
    display: inline-block;
    width: 46%;
	margin: 1% 1% 0% 0%;
    font-size: 1.2em;
    vertical-align: top;
}
.small1{
	display: inline-block;
    width: 46%;
    font-size: 1.2em;
    vertical-align: top;
}
.small img, .small1 img{
	width: 100%;
}

.side1, side2{
   	display: inline-block;
	list-style-type: none;
    width: 100%;
    padding-left: 0%;
	margin-top: -2%;
	
}
	
.side1 li:nth-child(n+10), .side1 hr:nth-child(n+9){
		display: none;
	}
.side2{
   	display: inline-block;
	list-style-type: none;
    width: 100%;
    padding-left: 0%;
	margin-top: -2%;
}
.side2 li:nth-child(n+9), .side2 hr:nth-child(n+9){
		display: none;
	}

.listp time{
    margin-right: 5%;
}
.ahead, .ahead1{
    font-weight: bold;
    font-size: 2em;
}
.ahead1{
	color: #2D5DD9;
}
.shead{
    font-weight: bold;
    font-size: 1em;
}
.bighr hr{
    background-color: #2D5DD9;
    color: #2D5DD9;
    height: 5px;
    width: 95%;
    float: left;
    
}
.bighr p{ font-size: 1em; margin-left: 2%; width: 90%; color: #2D5DD9;
    float: left;
    margin-top: 1%;
}

.first1{
    width: 60%;
    display: inline-block;
    float: left;
	margin-right: 5%;
}
.first1 img{width: 100%;}
.first2{
	width: 95%;
    display: inline-block;
    float: float;
}
.first2 img{
	width: 100%;
}
.second1, .second2{
    width: 100%;
    float: right;
    display: inline-block;
}
.second2{
	float: left;
}
.small1{
    display: inline-block;
    width: 30%;
    margin-top: 2%;
    font-size: 1.2em;
    vertical-align: top;
	margin-right: 2%;
}
.small2{
	display: inline-block;
	width: 42%;
	vertical-align: top;
}
.small2 img{
	width: 100%;
}
.small3{
	display: inline-block;
	width: 42%;
	margin-left: 10.5%;
	vertical-align: top;
}
.small3 img{
	width: 100%;
}
.lobodat{
	background-color: #e8e8e8;
	width: 100%;
	line-height: 2em;
	margin-top: -2%;
}
.lobodat time{
	margin-left: 5%;
	font-size: 85%;
}
.border{
	border-left: 7px solid #2D5DD9 ;
	height: 25px;
	float: left;
	margin-right: 3%;
}
.sheads{
	padding-left: 10px;
	font-weight: bold;
    font-size: 1.2em;
}

.marge{
	margin-top: 6%;
	color: #808080;
	font-size: 1.25em;
	
}

.sidebar{
	width: 17%;
	display: inline-block;
	margin: 0% 1% 0% 1%;
}
.footer{
	background-color: none;
	width: 100%;
	margin-top: 1%;
}
.footer hr{
	background-color: #2D5DD9;
    color: #2D5DD9;
    height: 3px;
    width: 99.9%;
}
.socialnet{
	display: inline-block;
	margin-left: 15%;
	width: 71%;
	background-color: #d4d4d4;
	margin-bottom: -1%;
}
.socialnet a{
	display: inline-block;
	vertical-align: middle;
	float: left;
	width: 25%;
	
}
.hhead{
	font-weight: bold;
    font-size: 1.2em;
}
.simg{
	float: left;
	margin-right: 1%;
	vertical-align: middle;
}

.brdr{
	border: 2px solid brown ;
	margin-bottom: 1%;
	padding: 0% 9%;
  	position: relative;
	margin-bottom: 5%;
	background-color: white;
}
.brdr::after, .brdr::before{
	content: '';
	position: absolute;
	border:  2px solid brown ;
	background-color: white;
	left: 50px; bottom: -3.9%;
	width: 20px; height: 20px;
	z-index: -1;
	transform: rotate(45deg);
}
.brdr::before{
	z-index: 0;
	border: none;
	left: 52px; bottom: -3.2%;
	width: 20px; height: 20px;
}
.sdbr{
	border: 2px solid #cbcbcb;
	padding: 5% 5%;
	font-size: 1.2em;
	font-weight: bold;
}
.sdbr img{
	width: 100%;
}
.hsdbr{
	font-size: 1em; width: 70%; color: #2D5DD9;
	font-weight: bold;
	padding: 2%;
}
.wraps{
	width: 100%;
	background-color: #E6E6E6;
	padding: 0% 0%;
}
.barvsdbr img{
	width: 100%;
}
.sdp{margin-top: 0%;}
.boldftr{
	display: inline-block;
	width: 71%;
	margin-left: 15%;
	text-align: center;
	background-color: #EEF3F7;
}
.boldftr a{
	text-decoration: none;
	color: blue;
}
.text{
	width: 45%;
	margin-left: 25%;
}
.flnk{
	display: inline-block;
	margin-top: 1%;
}
.statistics{
	margin-left: 25%;
	width: 45%;
}
.flinks{
	line-height: 30px;
	border-bottom: 1.5px solid darkgrey;
	border-top: 1.5px solid darkgrey;
}
.flinks a{
	color: darkgrey;
	padding: 0% 0.8%;
}
  /*****************************************/
 /******For Stupid Mozilla, Mozilla :\  ***/
/*****************************************/
@-moz-document url-prefix() {

	.sidebr{
    display: inline-block;
    width: 30%;
	margin-left: 5%;
	margin-bottom: 5%;
	}
	.sidebr1{
    display: inline-block;
    width: 30%;
	margin-left: 0%;
	margin-bottom: 10%;
	}
	.side1{
   	display: inline-block;
	list-style-type: none;
    width: 100%;
    padding-left: 0%;
	margin-top: -2%;
	margin-bottom: 10%;
	margin-left: -17%;
	}
	.side2{
   	display: inline-block;
	list-style-type: none;
    width: 100%;
    padding-left: -17%;
	margin-top: 150%;
	}
  } 
}

  /*******************************************************/
 /*******************DESKTOP-Small-Width*****************/
/*******************************************************/
@media screen and (min-width: 801px) and (max-width: 1599px){
.wrapper{
	width: 100%;
}
.main{
	width: 100%;
	display: table;
}
.header{
	width: 100%;
	margin-bottom: 1%;
	height: auto;
}
#img{
    width: 35%;
    display: inline-block;
	margin-left: 10%;
}
#img img{
	width: 100%;
}


#date{
    display: inline-block;
    float: right;
    margin: 0.25% 1% 0% 0%; 
	font-size: 0.8em;font-weight: 200;
}

#search{
    width: 27%; 
    border: 1px solid rgb(175, 175, 175); 
    border-radius: 6px; 
   	display: inline-block;
    background-color: white;
	margin: 0.5% 0% 0.5% 0%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.31);

	}

input[name="ic"] {
    background: url(images/search.PNG) no-repeat 50% 50%;
    width: 11%;
    height: 25px;
    border: none;
	margin-left: 0%;
	vertical-align: middle;
}
input[name="textfield"] {
    border: none;
    outline: none;
    width: 86%;
    height: 30px;
    padding: 1% 1%;
	margin-left: 1%;
	border-radius: 6px;
}
#menu_wrapper{
    background-color: rgb(230, 230, 230);
}


.menu {
	display: inline-block;
	width: 100%;
    font-size: 1.1em;
}

.menu a{
    text-decoration: none;
	color: black;
	margin: 1% 1% 1% 0%;
	vertical-align: top;
}
.menulink{
    display: inline-block;
	padding: 0% 5% 0% 0%;
	}

.menulink{
    display: inline-block;
	padding: 0% 2% 0% 0%;
	}

.menu a:link{color: #000000;}
.menu a:hover{
	color: #2D5DD9;
}
.menu a:visited{
	*color: #2D5DD9;
}
.menulinks{
	width: 57%;
	display: inline-block;
	margin: 1% 1% 0% 10%;
	float: left;
}

.login{
	float: right;
	width: 35%;
	display: inline-block;
	margin: % -8.5% 0% 0%;
	font-size: 1em;
}
.logimg{
	display: inline-block;
	float: left;
	width: 20%;
	vertical-align: middle;
}
.logimg img{
	width: 100%;
}
.uname{
	width: 70%;
	margin: 0% 0% 0% 25%;
}
.uname a{
	text-decoration: none;
	color: #b9b9b9;
}
.content{
	width: 55%;
	/*background-color: none;*/
	/*border: 1.5px solid darkgrey;*/
	display: inline-block;
	margin: 0% 0% 0% 10%;
	float: left;
}
.first{
    width: 60%;
    display: inline-block;
    float: left;
}
.first img{
	width: 100%;
}
.second{
    width: 60%;
    display: inline-block;
    float: left;
}
.second img{
	width: 100%;
}
.sidebr, .sidebr1{
    display: inline-block;
    width: 35%;
	margin-left: 2%;
	font-size: 1em;
}
.side{
    list-style-type: none;
    width: 100%;
	margin-top: -1%;
	padding-left: 0;
}
.sidebr hr, .sidebr1 hr{background-color: #881F3D; height: 1px; color: #881F3D}
.small{
    display: inline-block;
    width: 90%;
	margin: 1% 1% 0% 0%;
    font-size: 1.2em;
    vertical-align: top;
	
}
.small1{
	display: block;
    width: 60%;
    font-size: 1.2em;
    vertical-align: top;
}
.small img, .small1 img{
	width: 100%;
}

.side1, side2{
   	display: inline-block;
	list-style-type: none;
    width: 100%;
    padding-left: 0%;
	margin-top: -2%;
}
	

.side2{
   	display: inline-block;
	list-style-type: none;
    width: 100%;
    padding-left: 0%;
	margin-top: -2%;
}


.listp time{
    margin-right: 5%;
}
.ahead, .ahead1{
    font-weight: bold;
    font-size: 2em;
}
.ahead1{
	color: #2D5DD9;
}
.shead{
    font-weight: bold;
    font-size: 1em;
}
.bighr hr{
    background-color: #2D5DD9;
    color: #2D5DD9;
    height: 5px;
    width: 95%;
    float: left;
    
}
.bighr p{ font-size: 1em; margin-left: 2%; width: 90%; color: #2D5DD9;
    float: left;
    margin-top: 1%;
}

.first1{
    width: 60%;
    display: inline-block;
    float: left;
}
.first1 img{width: 100%;}
.first2{
	width: 95%;
    display: inline-block;
    float: left;
}
.first2 img{
	width: 100%;
}
.second1, .second2{
    width: 60%;
    float: left;
    display: inline-block;
}
.second2{
	width: 100%;
	float: left;
}
.small1{
    display: inline-block;
    width: 90%;
    margin-top: 2%;
    font-size: 1.2em;
    vertical-align: top;
	margin-right: 2%;
}
.small2{
	display: inline-block;
	width: 42%;
	vertical-align: top;
}
.small2 img{
	width: 100%;
}
.small3{
	display: inline-block;
	width: 42%;
	margin-left: 10.5%;
	vertical-align: top;
}
.small3 img{
	width: 100%;
}
.lobodat{
	background-color: #e8e8e8;
	width: 100%;
	line-height: 2em;
	margin-top: -2%;
}
.lobodat time{
	margin-left: 5%;
	font-size: 85%;
}
.border{
	border-left: 7px solid #2D5DD9 ;
	height: 25px;
	float: left;
	margin-right: 3%;
}
.sheads{
	padding-left: 10px;
	font-weight: bold;
    font-size: 1.2em;
}

.marge{
	margin-top: 6%;
	color: #808080;
	font-size: 1.25em;
	
}

.sidebar{
	width: 30%;
	display: inline-block;
	margin: 0% 1% 0% 2%;
}
.footer{
	background-color: none;
	width: 100%;
	margin-top: 1%;
}
.footer hr{
	background-color: #2D5DD9;
    color: #2D5DD9;
    height: 3px;
    width: 99.9%;
}
.socialnet{
	display: inline-block;
	margin-left: 10%;
	width: 71%;
	background-color: #d4d4d4;
	margin-bottom: -1%;
}
.socialnet a{
	display: inline-block;
	vertical-align: middle;
	margin: 1% 1%;
	width: 22.5%;
	float: left;
}
.socialnet img{
	width: 100%;
}
.hhead{
	font-weight: bold;
    font-size: 1.2em;
}
.simg{
	float: left;
	margin-right: 1%;
	vertical-align: middle;
}

.brdr{
	border: 2px solid brown ;
	margin-bottom: 1%;
	padding: 0% 9%;
  	position: relative;
	margin-bottom: 5%;
	background-color: white;
}
.brdr::after, .brdr::before{
	content: '';
	position: absolute;
	border:  2px solid brown ;
	background-color: white;
	left: 50px; bottom: -3.9%;
	width: 20px; height: 20px;
	z-index: -1;
	transform: rotate(45deg);
}
.brdr::before{
	z-index: 0;
	border: none;
	left: 52px; bottom: -3.2%;
	width: 20px; height: 20px;
}
.sdbr{
	border: 2px solid #cbcbcb;
	padding: 5% 5%;
	font-size: 1.2em;
	font-weight: bold;
}
.sdbr img{
	width: 100%;
}
.hsdbr{
	font-size: 1em; width: 70%; color: #2D5DD9;
	font-weight: bold;
	padding: 2%;
}
.wraps{
	width: 100%;
	background-color: #E6E6E6;
	padding: 0% 0%;
}
.barvsdbr img{
	width: 100%;
}
.sdp{margin-top: 0%;}
.boldftr{
	display: inline-block;
	width: 71%;
	margin-left: 10%;
	text-align: center;
	background-color: #EEF3F7;
}
.boldftr a{
	text-decoration: none;
	color: blue;
}
.text{
	width: 45%;
	margin-left: 25%;
}
.flnk{
	display: inline-block;
	margin-top: 1%;
}
.statistics{
	margin-left: 25%;
	width: 45%;
}
.flinks{
	line-height: 30px;
	border-bottom: 1.5px solid darkgrey;
	border-top: 1.5px solid darkgrey;
}
.flinks a{
	color: darkgrey;
	padding: 0% 0.8%;
}
  /*****************************************/
 /******For  Mozilla, Mozilla :\  ***/
/*****************************************/
@-moz-document url-prefix() {

	.sidebr{
    display: inline-block;
    width: 30%;
	margin-left: 5%;
	margin-bottom: 5%;
	}
	.sidebr1{
    display: inline-block;
    width: 30%;
	margin-left: 0%;
	margin-bottom: 10%;
	}
	.side1{
   	display: inline-block;
	list-style-type: none;
    width: 100%;
    padding-left: 0%;
	margin-top: -2%;
	margin-bottom: 10%;
	margin-left: -17%;
	}
	.side2{
   	display: inline-block;
	list-style-type: none;
    width: 100%;
    padding-left: -17%;
	margin-top: 150%;
	}
  } 
}